@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
  body {
    transition: background-color 1s ease; 
    overflow: hidden;
  }
  html {
    overflow: scroll; 
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .mi-color-fondo, ul.dropdown-menu.show {
    background-color: #3a67b1 !important;    
  }
  .mi-navbar {
    background-color: #3a67b1 !important; /* fondo */
  }

  .mi-navbar .navbar-brand,
  .mi-navbar .nav-link,
  .mi-navbar .offcanvas,
  
  .mi-navbar .navbar-toggler-icon,
  .mi-navbar .navbar-text {
    color: #fff !important; /* texto e iconos en blanco */
}
  .mi-color{
    color: #3a67b1;    
  }
[data-bs-theme="dark"] {
  --bs-dark-rgb: 58, 103, 177;  /* tu color principal */
  --bs-body-bg: rgb(58, 103, 177); 
  --bs-offcanvas-bg: rgb(58, 103, 177); /* fondo del menú lateral */
  --bs-offcanvas-color: #fff;           /* color del texto */
}
  .icono-sombra {
    filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.3));
  }
  .dropdown-item:hover {
    background-color: transparent;    
  } 
  .margintop-120px {
    margin-top: 120px; 
  }
  .w-400px {
    max-width: 400px;
  }
  .w-100px {
    width:100px;
  }
  .w-250px {
    width:250px;
  }
  .w-300px {
    width:300px;
  }
  .w-150px {
    width:150px;
  }
  .w-60px {
    width:60px;
  }
  .w-30px {
    width:30px;
  }
  .w-33 {
    width: 33.3333%;
  }
  .fs-05 {
    font-size: 0.5rem;
  }
  .fs-06 {
    font-size: 0.6rem;
  }
  .fs-07 {
    font-size: 0.7rem;
  }
  .fs-08 {
    font-size: 0.8rem;
  }
  .fs-09 {
    font-size: 0.9rem;
  }
  .hidden {
    display:none;
  }
  .offcanvas-header .btn-close {
    filter: invert(1);
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  .loading {
    animation: spin 1s linear infinite;
    transform-origin: center;
  }
.btn-group .btn.active {
  background-color: var(--bs-primary); 
  color: white;
  border-color: var(--bs-primary);
}

.btn-group .btn {
  background-color: transparent; 
  color: var(--bs-secondary);
  border-color: var(--bs-secondary);
}
.text-shadow {
  text-shadow: 3px 3px 5px rgba(0,0,0,0.3); 
}
.circulo-60 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}