@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
  body {
    transition: background-color 1s ease; 
    overflow: hidden;
  }
  html {
    overflow: scroll; 
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .mi-color-fondo, ul.dropdown-menu.show {
    background-color: #3a67b1 !important;    
  }
  .mi-color{
    color: #3a67b1;    
  }

  .icono-sombra {
    filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.3));
  }
  .dropdown-item:hover {
    background-color: transparent;    
  } 
  .margintop-120px {
    margin-top: 120px; 
  }
  .w-400px {
    max-width: 400px;
  }
  .w-100px {
    width:100px;
  }
  .w-250px {
    width:250px;
  }
  .w-300px {
    width:300px;
  }
  .w-150px {
    width:150px;
  }
  .w-30px {
    width:30px;
  }
  .w-33 {
    width: 33.3333%;
  }
  .text-07 {
    font-size: 0.7rem;
  }
  .hidden {
    display:none;
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  .loading {
    animation: spin 1s linear infinite;
    transform-origin: center;
  }

  .nav.nav-tabs .nav-link.active {
    background-color: #3a67b1;
    color: white
}
.btn-group .btn.active {
  background-color: var(--bs-primary); 
  color: white;
  border-color: var(--bs-primary);
}

.btn-group .btn {
  background-color: transparent; 
  color: var(--bs-secondary);
  border-color: var(--bs-secondary);
}
.text-shadow {
  text-shadow: 3px 3px 5px rgba(0,0,0,0.3); 
}
.circulo-60 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.candidato-enter {
  animation: fadeInUp 0.5s ease-out forwards;
}
.pub-item-enter {
  opacity: 0;
  transform: translateY(20px);
}

.pub-item-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms ease-out;
}

/* Animación para la eliminación de publicaciones */
@keyframes desaparecerDerecha {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.pub-salida {
  animation: desaparecerDerecha 500ms ease-in forwards;
}